{% extends 'base.html' %}
{% load static %}

{% block title %}Наши правила{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1>Наши правила</h1>
    
    <div class="rule-item mb-4">
      <h3 class="h5">Самовыражение</h3>
      <p>У наших пользователей должна быть возможность создать что-то своё, выразить себя, свои мысли и чувства.</p>
    </div>
    
    <div class="rule-item mb-4">
      <h3 class="h5">Многообразие</h3>
      <p>Мы уважаем и приветствуем разные мнения и культуры. Блогикум — это место, объединяющее самых разных людей.</p>
    </div>
    
    <div class="rule-item mb-4">
      <h3 class="h5">Творчество</h3>
      <p>Не важно, в какой области вы творите - это может быть литература, дизайн, программирование.</p>
    </div>
    
    <div class="rule-item mb-4">
      <h3 class="h5">Личность</h3>
      <p>Мы сохраним ваши сокровенные мысли в тайне. Делитесь своей информацией только с теми, кого выбрали.</p>
    </div>
  </div>
{% endblock %}